<!-- Nav Bar Start -->
<div class="nav-bar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="{{ path('front_reclamation_index') }}" class="nav-item nav-link {% if app.request.attributes.get('_route') starts with 'front_reclamation_' %}active{% endif %}">Réclamations</a>
                    <a href="{{ path('front_reponse_index') }}" class="nav-item nav-link {% if app.request.attributes.get('_route') starts with 'front_reponse_' %}active{% endif %}">Réponses</a>
                </div>
                <div class="ml-auto">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="nav-item nav-link">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="nav-item nav-link">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->
