<form method="post" action="{{ path('app_terrain_delete', {'idTerrain': terrain.idTerrain}) }}" 
      onsubmit="return confirm('Êtes-vous certain de vouloir supprimer définitivement ce terrain ? Cette action ne peut pas être annulée.');"
      class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ terrain.idTerrain) }}">
    <button class="btn btn-outline-danger">
        <i class="material-symbols-rounded me-1">delete</i>
        Supprimer
    </button>
</form>