<form method="post" action="{{ path('app_plannification_delete', {'idPlannification': plannification.idPlannification}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plannification.idPlannification) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>