{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <h1>Welcome {{ user.email }}!</h1>
    <p>Your roles: 
        {{ user.roles|filter(role => role != 'ROLE_CLIENT')|join(', ') }}
    </p>
{% endblock %}