{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/newabonnement.css') }}">
         <link rel="stylesheet" href="{{ asset('css/abonnementfront.css') }}">
          <link rel="stylesheet" href="{{ asset('css/nicepage.css') }}">

    {% block stylesheets %}

    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_welcome') }}">Planning App</a>
        <div class="d-flex align-items-center">
        
    {% if app.user %}
        
    {% endif %}
</a>

            <!-- Add other navigation items -->
        </div>
    </div>
</nav>

<div class="container mt-5">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
